<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="attachementPath" value="" />
        <add key="content" value="send mail client" />
        <add key="sender" value="aaa@bc.pl" />
        <add key="recipient" value="aaa@bc.pl" />
        <add key="cc" value="" />
        <add key="subject" value="Wiadomość automatyczna" />
    </appSettings>
    <system.net>
        <defaultProxy useDefaultCredentials="true" />
    </system.net>
    <system.serviceModel>
        <client>
            <endpoint address="http://localhost/Mail.WCF/MailService.svc"
                binding="basicHttpBinding"
                bindingConfiguration="MailServiceWCF"
                contract="Mail.Contracts.IMailService"
                name="IMailService" />
        </client>

        <bindings>
            <basicHttpBinding>
                <binding name="MailServiceWCF"
                         closeTimeout="00:01:00" openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                         allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                         maxBufferSize="10485760" maxBufferPoolSize="10485760" maxReceivedMessageSize="10485760"
                         messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                         useDefaultWebProxy="true" >
                    <readerQuotas maxDepth="32" maxStringContentLength="100000" maxArrayLength="10485760" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None" realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
    </system.serviceModel>
</configuration>